* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

section {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

	&#sec1 {
		background: pink;
	}
	&#sec2 {
		background: lightblue;

		.box1 {
			width: 200px;
			height: 200px;
			background: blue;
			position: absolute;
			top: 0px;
			left: 0px;
		}
		.box2 {
			width: 200px;
			height: 200px;
			background: red;
			position: absolute;
			top: 200px;
			left: 0px;
		}
	}
	&#sec3 {
		background: lightgreen;
	}
}
