* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.wrap {
	width: 1000px;
	height: 700px;
	border: 1px solid #888;
	margin: 100px auto;
	position: relative;
	> div {
		opacity: 0;
		width: 100px;
		height: 100px;
	}
	.box {
		background: aqua;
	}
	.box2 {
		background: hotpink;
	}
	.box3 {
		background: orange;
	}
	.box4 {
		background: lightgreen;
	}
	.box5 {
		background: coral;
	}
}
