* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

section {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

	&#sec1 {
		background: pink;
	}
	&#sec2 {
		background: lightblue;
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			font: bold 170px/1 'arial';
			color: #fff;
			margin-bottom: 50px;
		}
	}
	&#sec3 {
		background: lightgreen;
	}
}
